﻿.intro-header {z-index:100;    background: center center no-repeat;-webkit-background-size: cover;    -moz-background-size: cover;    background-size: cover;    -o-background-size: cover;position:relative;}
.intro-header:before {position:absolute;width:100%;height:100%;background-color:rgba(14, 16, 43, 0.2);display:block;left:0;top:0;content:""}
#contact .form-control {border-width:1px;}
.intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
padding: 100px 0 50px;
color: #fff;
}

.intro-header .page-heading h1, .intro-header .site-heading h1 {
margin-top: 0;
font-size: 50px;
}

.intro-header .page-heading .subheading, .intro-header .site-heading .subheading {
font-size: 24px;
line-height: 1.1;
display: block;
font-weight: 300;
margin: 10px 0 0;
}

@media only screen and (min-width:768px) {
.intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
padding: 150px 0;
}

.intro-header .page-heading h1, .intro-header .site-heading h1 {
font-size: 80px;
}
}

.intro-header .post-heading h1 {
font-size: 35px;
}

.intro-header .post-heading .meta, .intro-header .post-heading .subheading {
line-height: 1.1;
display: block;
}

.intro-header .post-heading .subheading {
font-size: 24px;
margin: 10px 0 30px;
font-weight: 600;
}

.intro-header .post-heading .meta {
font-family: Lora,'Times New Roman',serif;
font-style: italic;
font-weight: 300;
font-size: 20px;
}

.intro-header .post-heading .meta a {
color: #fff;
}

@media only screen and (min-width:768px) {
.intro-header .post-heading h1 {
font-size: 55px;
}

.intro-header .post-heading .subheading {
font-size: 30px;
}
}

.post-preview > a {
color: #333;
}

.post-preview > a:focus, .post-preview > a:hover {
text-decoration: none;
color: #0085A1;
}

.post-preview > a > .post-title {
font-size: 30px;
margin-top: 30px;
margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
margin: 0 0 10px;
font-weight: 300;
}

.post-preview > .post-meta {
color: #777;
font-size: 18px;
font-style: italic;
margin-top: 0;
}

.post-preview > .post-meta > a {
text-decoration: none;
color: #333;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
color: #0085A1;
text-decoration: underline;
}

@media only screen and (min-width:768px) {
.post-preview > a > .post-title {
font-size: 36px;
}
}

.section-heading {
font-size: 36px;
margin-top: 60px;
font-weight: 700;
}

.btn, .pager li > a, .pager li > span {
font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 1px;
}

.caption {
font-size: 14px;
padding: 10px;
font-style: italic;
margin: 0;
display: block;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
