﻿@using KalikoCMS.Configuration
@using System.Web.Optimization
@using Glimpse.Mvc.Html
@model SeohyunMVC.Models.ViewModels.IPageViewModel<SeohyunMVC.PageTypes.SitePage>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" prefix="og: http://ogp.me/ns# fb:http://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# object: http://ogp.me/ns/object#">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.Action("CanonicalTag", "Seo")
    <!--facebook-->
    <meta property="og:title" content="Seohyun News Portal | @Model.CurrentPage.PageName" />
    <meta property="og:image" content="~/Img/tour-jakarta-seohyun-10 (1).jpg" />
    <meta property="og:site_name" content="Seohyun-EU" />
    <meta property="og:description" content="@Model.CurrentPage.MetaDescription" />
    <!--google-->
    <meta name="description" content="@Model.CurrentPage.MetaDescription" />
    <meta name="keywords" content="Seohyun, Seo Joo Hyun ,Girls' Generation,The One,Girls' Generation-TTS,S.M. The Ballad" />
    <meta name="author" content="Stratus" />
    <meta name="copyright" content="@DateTime.Now.Year" />
    <meta name="application-name" content="Seohyun MVC5 - EF" />
    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Seohyun News Portal | @Model.CurrentPage.PageName" />
    <meta name="twitter:description" content="@Model.CurrentPage.MetaDescription" />
    <meta name="twitter:image" content="~/Img/tour-jakarta-seohyun-10 (1).jpg" />
    <title>Seohyun News Portal | @Model.CurrentPage.PageName</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<link rel="preload" href="/content/font-awesome.min.css"  onload="this.rel='stylesheet'"/>
    @Styles.RenderFormat("<link rel='preload' href='{0}' type='text/css' onload='this.rel = \"stylesheet\"'/>", "/Bundles/styles")*@ 
  
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/owl.carousel.css")
    @Styles.Render("~/Content/owl.theme.css")
    @Styles.Render("~/Content/owl.transitions.css")
    @Styles.Render("~/Content/lightbox.css")
    @Styles.Render("~/Content/Icons/style.css")
    @Styles.Render("~/Content/animate.css")
    @Styles.Render("~/Content/photoswipe.css")
    @Styles.Render("~/Content/default-skin.css")
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content//InnerPages.css")
    @Styles.Render("/Bundles/styles")
    @RenderSection("HeaderScript", false)
    <script async>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('require', 'linkid');
        ga('create', 'UA-74096643-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <!-- Preloader
      ============================================= -->
    <div class="preloader">
        <img src="~/Images/ring.svg"/>
    @*<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>*@
    </div>
    <!-- Header
    ============================================= -->
    <section class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logoText" href="/">
                        <img src="~/fonts/deco.svg" class="img-responsive" alt="Seohuyn MVC" style="max-height:70px"/>
                    </a>
                </div>
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    @Html.Partial("MainMenu")
                    <div class="social-media hidden-sm hidden-xs">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        @RenderSection("HeadlineContent", false)

    </section>
   
    @RenderBody()

    @Html.Partial("Footer")
   

    @*@Scripts.Render("~/Scripts/modernizr-2.8.3.js")*@
    @Scripts.Render("~/Bundles/modernizr")
    @RenderSection("scriptslibraries", required: false)
    @Scripts.Render("~/Bundles/jquery")
    @Scripts.Render("~/Bundles/jqueryval")
    @Scripts.Render("~/Bundles/bootstrap")
    @Scripts.Render("~/scripts/knockout-3.4.0.js")
    @Scripts.Render("~/Bundles/custom")
    @*@Scripts.Render("~/Scripts/jquery-2.2.4.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.validate*")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/scripts/knockout-3.4.0.js")
    @Scripts.Render("~/Scripts/preload.js")
    @Scripts.Render("~/Scripts/custom/custom.js")
    @Scripts.Render("~/Scripts/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/jquery.easing.min.js")
    @Scripts.Render("~/Scripts/jquery.waypoints.min.js")
    @Scripts.Render("~/Scripts/jquery.countTo.js")
    @Scripts.Render("~/Scripts/jquery.inview.min.js")
    @Scripts.Render("~/Scripts/lightbox.min.js")
    @Scripts.Render("~/Scripts/photoswipe.min.js")
    @Scripts.Render("~/Scripts/photoswipe-ui-default.min.js")
    @Scripts.Render("~/Scripts/wow.min.js")*@
    @RenderSection("scripts", required: false)
    @*@Html.GlimpseClient()*@
</body>
</html>


