﻿@using KalikoCMS;
@using SeohyunMVC.PageTypes;
@using System.Globalization;
@model SeohyunMVC.Models.ViewModels.IPageViewModel<SeohyunMVC.PageTypes.SitePage>

@{
    Layout = null;
    // Get the page type for news lists
    var pageType = KalikoCMS.Core.PageType.GetPageType(typeof(ArticlePageType));
    // Get all children from the news root
    var news = PageFactory.GetPages(pageType.PageTypeId).Select(x => x.ConvertToTypedPage<ArticlePageType>()).OrderByDescending(x => x.UpdateDate).Take(3).ToList();
}
<!-- Footer
   ============================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <div class="logofooter">
                    <a class="logoText" href="/">
                        <img src="/fonts/deco.svg" class="img-responsive" alt="Seohuyn MVC" style="max-height:70px" />
                    </a>
                </div>
                <p class="footerParagraph">
                    @Html.Raw(SeohyunMVC.Services.UtilitiesService.GetSnippet("Footer_Description", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley."))
                </p>
                @*<p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>*@
                @*<p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>*@
                <p><i class="fa fa-envelope"></i> E-mail : mail@seohyun-eu.info</p>
            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">GENERAL LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Career</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms & Conditions</a></li>
                    <li><a href="#"> Client Gateway</a></li>
                    <li><a href="#"> Ranking</a></li>
                    <li><a href="#"> Case Studies</a></li>
                    <li><a href="#"> Frequently Ask Questions</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">LATEST POST</h6>
                <div class="post">
                    @foreach (var New in news)
                    {
                        <p>@New.Heading <span>@New.UpdateDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span></p>
                    }
                </div>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
                @*<div class="outreach">
            <h2 class="organization-name ui_logo">
                Seohyun Project
            </h2>
            <form id="email-updates" class="email-signup mailer" method="post">
                <input id="EMAIL" name="email" type="email" placeholder="Enter email to receive updates and newsletter" class="" />
                <label for="EMAIL" class="hidden email-added"></label>
            </form>

            <div class="social">
                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
            </div>
        dssdds
        </div>*@
      
       @*@Html.Raw(SeohyunMVC.Services.UtilitiesService.GetSnippet("dssdds"))*@
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>&copy; @DateTime.Now.Year Stratus.Development By BootstrapDev</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                @foreach (var page in Model.TopMenu.OrderBy(x => x.SortIndex))
                {
                    <li data-id="@Model.CurrentPage.PageName" class="link-title">
                        <a href="@page.PageUrl" title="@page.PageName">@page.PageName</a>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>