﻿@model SeohyunMVC.Models.ViewModels.IPageViewModel<SeohyunMVC.PageTypes.SitePage>
@{
    ViewBag.Title = "MainMenu";
    Layout = null;
}



<div class="col-md-8 col-xs-12 nav-wrap">
    <ul class="nav navbar-nav">
        @if (Model.CurrentPage.PageTypeId == 2)
        {
            <li><a href="#owl-hero" class="page-scroll">Home</a></li>
            <li><a href="#services" class="page-scroll">Services</a></li>
            <li><a href="#portfolio" class="page-scroll">Works</a></li>
            <li><a href="#team" class="page-scroll">About</a></li>
            <!--li><a href="#contact" class="page-scroll">Contact</a></li-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @foreach (var page in Model.TopMenu.OrderBy(x => x.SortIndex))
                    {
                        if (Model.CurrentPage.PageId == page.PageId || Model.CurrentPage.ParentPath.Contains(page.PageId))
                        {
                            <li data-id="@Model.CurrentPage.PageName" class="active"><a href="@page.PageUrl">@page.PageName</a></li>
                        }
                        else
                        {
                            <li data-id="@Model.CurrentPage.PageName"><a href="@page.PageUrl">@page.PageName</a></li>
                        }
                    }
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        }
        else
        {
            foreach (var page in Model.TopMenu.OrderBy(x => x.SortIndex))
            {
                if (Model.CurrentPage.PageId == page.PageId || Model.CurrentPage.ParentPath.Contains(page.PageId))
                {
                    <li data-id="@Model.CurrentPage.PageName" class="active"><a href="@page.PageUrl">@page.PageName</a></li>
                }
                else
                {
                    <li data-id="@Model.CurrentPage.PageName"><a href="@page.PageUrl">@page.PageName</a></li>
                }
            }
        }
    </ul>
</div>
