﻿@model SeohyunMVC.Models.Contact
@{
    Layout = null;
    ViewBag.Title = "Contact";
    bool success = (bool)ViewData["SaveSuccess"];
}
@if (success)
{

    <h4>Ty For Contacting Us !</h4>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


}
else
{
    using (Ajax.BeginForm("Contact", "ContactPage",
                                     new AjaxOptions
                                     {
                                         HttpMethod = "POST",
                                         InsertionMode = InsertionMode.ReplaceWith,
                                         UpdateTargetId = "target"
                                     }))
    {
        @Html.AntiForgeryToken()
     
        <div class="form-horizontal wow fadeInUp" data-wow-delay=".3s">
        
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Name) } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" , placeholder = @Html.DisplayNameFor(m => m.Surname) } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" , placeholder = @Html.DisplayNameFor(m => m.Telephone) } })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" , placeholder = @Html.DisplayNameFor(m => m.Email) } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" , placeholder = @Html.DisplayNameFor(m => m.Message) } })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Send" class="btn-block" />
                </div>
            </div>
        </div>
    }
}
