﻿@model SeohyunMVC.Models.ViewModels.StartPageViewModel
@using KalikoCMS;
@using SeohyunMVC.PageTypes;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section scripts{
    <script>
        (function () {
            HomeCanvas();
        })();// JavaScript source code

    </script>
}

@section HeadlineContent{
    <div class="demo-2">
        <div class="content">
            <div id="large-header" class="large-header" >
                <canvas id="demo-canvas"></canvas>
                <video poster="../Files/Bgs/20160926-230527.JPG" id="bgvid" playsinline autoplay>
                    @*<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">*@
                    <source src="http://seohyun-eu.info/files/Seohyun.star1Vol.55October2016Photoshoot.mp4" type="video/mp4" />
                </video>
                <h1 class="main-title fade-in one">SeoHuyn</h1>
            </div>

        </div>
    </div>
    <!-- Welcome
    ============================================= -->
    <section id="welcome">
        <div class="container">

            <h2>Welcome To <span>Seohyun-Eu</span></h2>
            <hr class="sep" />
            <p>Make Yourself At Home Don't Be Shy</p>
            <h4 class="logoTextLarge img-responsive center-block wow fadeInUp" data-wow-delay=".3s">
                Seohyun
            </h4>
        </div>

    </section>

}


<div id="owl-hero" class="owl-carousel owl-theme">
    @foreach (var item in Model.CurrentPage.Slides.Items)
    {
        <div class="item" style="background-image: url(@item.SlideImage.ImageUrl)">
            <div class="caption">
                <h6>News / Design / Forum</h6>
                <h1>We Are <span>.EU</span></h1>
                @{

                    var target = "_self";
                    switch (item.Url.Type.ToString())
                    {
                        case "Page":
                            target = "_self";
                            break;
                        case "External":
                            target = "_blank";
                            break;
                        case "File":
                            target = "_blank";
                            break;
                    }
                }


                <a class="btn btn-transparent" href="@item.Url.Url" target="@target">Learn More</a>
                @*<a class="btn btn-light" href="#">Buy Now</a>*@
            </div>
        </div>
                    }

</div>
<!-- Portfolio
============================================= -->
<section id="portfolio">
    <div class="container-fluid">
        <h2>Latest News</h2>
        <hr class="sep">
        <p>Showcase Seohyun's Amazing Work With Us</p>
        <div class="row">
            @foreach (var item in Model.CurrentPage.HomeArticles.Items.OrderByDescending(X => X.articles.Page.CreatedDate))
            {
                // Get the page type for news lists
                var pageType = KalikoCMS.Core.PageType.GetPageType(typeof(ArticlePageType));
                // Get all children from the news root
                var news = PageFactory.GetPages(pageType.PageTypeId).Select(x => x.ConvertToTypedPage<ArticlePageType>()).Where(x => x.PageId == item.articles.PageId).SingleOrDefault();
                string Image = news.TopImage.ImageUrl.Split('/').Last();
                var lastPart = Image.LastIndexOf(".");
                var image = Image.Substring(0, lastPart);

                <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                    <a class="portfolio-box" href="@item.articles.Page.PageUrl" @*data-lightbox="image-1"*@ data-title="@item.articles.Page.PageName">
                        <img src="@string.Format("/ImageCache/cropped/{0}.jpg",image)" class="img-responsive" alt="@item.articles.Page.PageName" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    @item.articles.Page.Parent.PageName
                                </div>
                                <div class="project-name">
                                    @item.articles.Page.PageName
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }


        </div>
    </div>
</section>
<!-- Services
============================================= -->
<section id="services">
    <div class="container">
        <h2>What We Do</h2>
        <hr class="light-sep">
        <p>We Can Do Crazy Things</p>
        <div class="services-box">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-lightbulb"></span></div>
                    <div class="media-body">
                        <h3>Creative Design</h3>
                        <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-mobile"></span></div>
                    <div class="media-body">
                        <h3>Bootstrap</h3>
                        <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="media-left"><span class="icon-compass"></span></div>
                    <div class="media-body">
                        <h3>Sass &amp; Compass</h3>
                        <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                    </div>

                </div>

                <div class="row wow fadeInUp" data-wow-delay=".6s">
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-adjustments"></span></div>
                        <div class="media-body">
                            <h3>Easy To Customize</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-tools"></span></div>
                        <div class="media-body">
                            <h3>Photoshop</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="media-left"><span class="icon-wallet"></span></div>
                        <div class="media-body">
                            <h3>Money Saver</h3>
                            <p>Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Work Process
============================================= -->
<section id="work-process">
    <div class="container">
        <h2>Work Process</h2>
        <hr class="sep">
        <p>What Happen In The Background</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <span class="icon-chat"></span>
                <h4>1.Discuss</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-circle-compass"></span>
                <h4>2.Sketch</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-browser"></span>
                <h4>3.Make</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-global"></span>
                <h4>4.Publish</h4>
            </div>
        </div>
    </div>
</section>
<!-- Some Fune Facts
============================================= -->
<section id="fun-facts">
    <div class="container">
        <h2>Some Fun Facts </h2>
        <hr class="light-sep">
        <p>Fun Facts</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-lg-3">
                <span class="icon-happy"></span>
                <h2 class="number timer">367</h2>
                <h4>Happy Visitors</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-trophy"></span>
                <h2 class="number timer">150</h2>
                <h4>Project Done</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-wine"></span>
                <h2 class="number timer">121</h2>
                <h4>Glass Of Wine</h4>
            </div>
            <div class="col-lg-3">
                <span class="icon-documents"></span>
                <h2 class="number timer">10000</h2>
                <h4>Lines Of Code</h4>
            </div>
        </div>
    </div>
</section>
<!-- Some Fune Facts
============================================= -->
<section id="team">
    <div class="container">
        <h2>Seohyun Facts</h2>
        <hr class="sep">
        <p>Designers Behind This Work</p>
        <div class="row wow fadeInUp" data-wow-delay=".3s">
            <div class="col-md-4">
                <div class="team">
                    <img class="img-responsive center-block" src="img/team/MariaDoe.jpg" alt="1">
                    <h4>Maria Doe</h4>
                    <p>Designer</p>
                    <div class="team-social-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img class="img-responsive center-block" src="img/team/JasonDoe.jpg" alt="2">
                    <h4>Jason Doe</h4>
                    <p>Developer</p>
                    <div class="team-social-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team">
                    <img class="img-responsive center-block" src="img/team/MikeDoe.jpg" alt="3">
                    <h4>Mike Doe</h4>
                    <p>Photographer</p>
                    <div class="team-social-icons">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials
============================================= -->
<section id="testimonials">
    <div class="container">
        <h2>Testimonials</h2>
        <hr class="light-sep">
        <p>What Clients Say About Us</p>
        <div id="owl-testi" class="owl-carousel owl-theme">
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>
                        I’am amazed, I should say thank you so much for your awesome template. Design is so
                        good and neat, every detail has been taken care these team are realy amazing and talented! I will
                        work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i>
                    </h5>

                </div>
            </div>
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>
                        I’am amazed, I should say thank you so much for your awesome template. Design is so
                        good and neat, every detail has been taken care these team are realy amazing and talented! I will
                        work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i>
                    </h5>

                </div>
            </div>
            <div class="item">
                <div class="quote">
                    <i class="fa fa-quote-left left fa-2x"></i>
                    <h5>
                        I’am amazed, I should say thank you so much for your awesome template. Design is so
                        good and neat, every detail has been taken care these team are realy amazing and talented! I will
                        work only with <span>Rise</span>.<i class="fa fa-quote-right right fa-2x"></i>
                    </h5>

                </div>
            </div>
        </div>
    </div>
</section>
