﻿@model SeohyunMVC.Models.Snippet

@{
    Layout = null;
}

    <h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Snippet Name: @Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>#@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Area)</th>
                <th>Status:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Id)</td>
                <td>@Html.DisplayFor(model => model.Area)</td>
                <td>@Html.DisplayFor(model => model.Active)</td>
            </tr>
        </tbody>
    </table>

</div>