﻿@model IEnumerable<SeohyunMVC.Models.Snippet>

@{
    Layout = null;
}

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>Preview/Change</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit" onclick="location.href ='Snippets/EditSnippet.aspx?id=@item.Id'" style="display:inline-block">
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </p>
                <p data-placement="top" data-toggle="tooltip" title="Info" onclick="location.href ='Snippets/DetailsSnippet.aspx?id=@item.Id'" style="display:inline-block">
                    <button class="btn btn-info btn-xs" data-title="Info" data-toggle="modal" data-target="#Info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </p>
               
            </td>
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit" onclick="location.href ='Snippets/DeleteSnippet.aspx?id=@item.Id'" style="display:inline-block">
                    <button class="btn btn-danger  btn-xs" data-title="delete" data-toggle="modal" data-target="#delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </p>
            </td>
        </tr>
    }

</table>
