﻿@model SeohyunMVC.Models.ViewModels.ContentPageViewModel
@using KalikoCMS
@using KalikoCMS.Core
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tags = TagManager.GetTags("content");
}

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // execute above function
            initPhotoSwipeFromDOM('.my-gallery');
        });
    </script>

}
<!-- Check if top image is defined -->
@if (!string.IsNullOrEmpty(Model.CurrentPage.TopImage.ImageUrl))
{
    <!-- Set your background image for this header on the line below. -->
    @*<header class="intro-header" style="background-image: url(@string.Format("/ImageCache/HeaderCropped/{0}.jpg", Model.CurrentPage.PageId)">*@
    <header class="intro-header" style="background-image: url(@Model.CurrentPage.TopImage.ImageUrl)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>@Model.CurrentPage.PageName</h1>
                        <hr class="small">
                        <span class="subheading">@Model.CurrentPage.Header</span>
                      
                    </div>
                </div>
            </div>
        </div>
    </header>

}
@Html.Partial("~/Views/Partials/BreadCrumbsView.cshtml", Model)



<div class="container">
    <div class="col-lg-12">
        @Model.CurrentPage.Property["MyPropertyName"]
        <h2>@Model.CurrentPage.Heading</h2>
        <p class="preamble">@Model.CurrentPage.Preamble.Value</p>
        @Model.CurrentPage.MainBody
        <p>Created: @Model.CurrentPage.CreatedDate</p>
        <ul style="">
            @foreach (var tag in tags.Tags.Values.Where(x => x.Pages.Contains(Model.CurrentPage.PageId)))
            {
                <li> <text>@tag.TagName</text></li>
            }
        </ul>

        @Html.Partial("galleryShared", Model)
    </div>
</div>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <section id="childPages">
            <div class="container-fluid">
                @foreach (var page in Model.Childrenpages)
                {
                    string Image = page.TopImage.ImageUrl.Split('/').Last();
                    var lastPart = Image.LastIndexOf(".");
                    var image = Image.Substring(0, lastPart);
                    <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s" data-original="">
                        <a class="portfolio-box" href="@page.PageUrl" data-title="@page.PageName">
                            <figure>
                                <img src="@string.Format("/ImageCache/cropped/{0}.jpg", image)" class="img-responsive" alt="@page.PageName" />
                            </figure>
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        @if (page.TreeLevel > 0)
                                        {
                                            @page.Parent.PageName
                                        }
                                        else
                                        {
                                            @Model.CurrentPage.PageName
                                        }

                                    </div>
                                    <div class="project-name">
                                        @page.PageName
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

@*@Model.CurrentPage.Property["MyPropertyName"]*@

