﻿@{
    Layout = null;
}

@model DateTime?

<div id="bootstrap-datetimepicker-wrapper" class="input-group date">
    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
    @Html.TextBox("", Model.HasValue ? Model.Value.ToString("d") : String.Empty , new { @class= "form-control" }) 
    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
</div>
      
      

