﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="SeohyunMVC.Admin.Hangfire.Default" MasterPageFile="../Templates/MasterPages/Admin.Master"%>
<asp:Content ContentPlaceHolderID="FullRegion" runat="server">
    <div class="admin-page">

        <div class="page-head">
            <h1>Manage Hangfire</h1>
        </div>

        <div class="main-content">
            <div class="inner-container" style="max-width: 1280px">
                    
            </div>
        </div>

    </div>
</asp:Content>

