﻿@model SeohyunMVC.Models.ViewModels.ArticleListPageViewModel
@using SeohyunMVC.Models.ViewModels
@using PagedList.Mvc
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>
        $(document).ready(function () {
            var Height = $('#content').outerHeight();
            var offeset = $('#content').offset().top;
            var bottom = $('#childPages').outerHeight() + $('#footer').outerHeight();
            var final;
            $('#sidebar').affix({
                offset: {
                    top: offeset,
                    bottom: bottom
                }
            });
        });
        $(window).resize(function () {
            offeset = $('#content').offset().top;
            bottom = $('#childPages').outerHeight() + $('#footer').outerHeight();
            $('#sidebar').affix({
                offset: {
                    top: offeset,
                    bottom: bottom
                }
            });
        });
    </script>


}




<!-- Check if top image is defined -->
@if (!string.IsNullOrEmpty(Model.CurrentPage.TopImage.ImageUrl))
{
    <!-- Set your background image for this header on the line below. -->
    @*<header class="intro-header" style="background-image: url(@string.Format("/ImageCache/HeaderCropped/{0}.jpg", Model.CurrentPage.PageId)">*@
    <header class="intro-header" style="background-image: url(@Model.CurrentPage.TopImage.ImageUrl)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>@Model.CurrentPage.PageName</h1>
                        <hr class="small">
                        <span class="subheading">@Model.CurrentPage.TopImage.Description</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*@Model.CurrentPage.TopImage.ToHtml()*@
}

@Html.Partial("~/Views/Partials/BreadCrumbsView.cshtml", Model)


<!-- Begin Body -->
<div class="container">
    <div class="no-gutter row">
        <!-- left side column -->
        <div class="col-md-3">
            <div class="panel panel-default wow fadeInUp" data-wow-delay=".3s" id="sidebar">
                <div class="panel-heading" style="background-color:#888;color:#fff;">Archive</div>
                <div class="panel-body">
                    <ul class="nav nav-stacked">
                        @foreach (var newsHolder in Model.NewsHolders)
                        {
                            <li><a href="@newsHolder.PageUrl" class="list-group-item">@newsHolder.PageName</a></li>
                        }
                    </ul>
                    <hr>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    Content here for links, ads, etc..
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    Accordion
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Another collapse panel. Content here for links, ads, etc..
                                </div>
                            </div>
                        </div>
                    </div><!--/acc-->
                </div><!--/panel body-->
            </div><!--/panel-->
        </div><!--/end left column-->
        <!-- right content column-->
        <div class="col-md-9" id="content">
            <div class="panel wow fadeInUp" data-wow-delay=".3s">
                <div class="panel-heading" style="background-color:#111;color:#fff;">Top Stories</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <article id="post-1177" class="post-snippet mb64 content post-1177 post type-post status-publish format-standard has-post-thumbnail hentry category-markup tag-alignment-2 tag-captions-2 tag-content-2 tag-css tag-image tag-markup-2">
                                <header class="entry-header nolist">
                                    <h1 class="post-title entry-title">Markup: Image Alignment</h1>
                                    <ul class="post-meta">
                                        <li>
                                            <i class="fa fa-user"></i>
                                            <span><a href="https://colorlib.com/shapely/author/aigars-silkalns/" title="Aigars">Aigars</a></span>
                                        </li>
                                        <li>
                                            <i class="fa fa-calendar"></i>
                                            <span class="posted-on">
                                                <time class="entry-date published" datetime="2016-01-10T20:15:40+00:00">January 10, 2016</time>
                                                <time class="updated" datetime="2016-03-26T15:09:07+00:00">March 26, 2016</time>
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa fa-folder-open-o"></i>
                                            <span class="cat-links"><a href="https://colorlib.com/shapely/category/markup/" title="View all posts in Markup">Markup</a></span>
                                        </li>
                                    </ul><!-- post-meta -->
                                </header><!-- .entry-header -->
                                <div class="entry-content" style="color:#696969">
                                    <ul class="list-unstyled">
                                        @foreach (var newsPage in Model.News)
                                        {
                                            <li>
                                                <h2><a href="@newsPage.PageUrl">@newsPage.PageName</a></h2>
                                                <p>
                                                    (@newsPage.StartPublish.Value.ToShortDateString())
                                                    @newsPage.Preamble
                                                    <a href="@newsPage.PageUrl">Read more</a>
                                                </p>
                                            </li>
                                        }
                                    </ul>
                                </div><!-- .entry-content -->
                            </article>
                        </div>
                    </div>
                </div><!--/panel-body-->
            </div><!--/panel-->
            <!--/end right column-->
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-lg-9 col-xs-push-3">
            @Html.PagedListPager(Model.News, page => Url.Action(null, Model.CurrentPage.PageUrl.ToString().TrimStart('/'), new { page, pageSize = ArticleListPageViewModelBuilder.PageSize }))
            <p>Showing @Model.News.FirstItemOnPage to @Model.News.LastItemOnPage of @Model.News.TotalItemCount news</p>
        </div>
    </div>
</div>
