﻿@model SeohyunMVC.Models.ViewModels.ContactPageViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Check if top image is defined -->
@if (!string.IsNullOrEmpty(Model.CurrentPage.TopImage.ImageUrl))
{
    <!-- Set your background image for this header on the line below. -->
    @*<header class="intro-header" style="background-image: url(@string.Format("/ImageCache/HeaderCropped/{0}.jpg", Model.CurrentPage.PageId)">*@
    <header class="intro-header" style="background-image: url(@Model.CurrentPage.TopImage.ImageUrl)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>@Model.CurrentPage.PageName</h1>
                        <hr class="small">
                        <span class="subheading">@Model.CurrentPage.Header</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*@Model.CurrentPage.TopImage.ToHtml()*@
}
@Html.Partial("~/Views/Partials/BreadCrumbsView.cshtml", Model)



<!-- Contact Us
============================================= -->
<section id="contact">
    <div class="layer"></div>
    <div class="container" id="get-in-touch">
         <h2>Get In Touch</h2>
        <hr class="sep">
        <p><a data-behaviour="track-phone" href="tel:01344 266 233">01344 266 233</a></p>
        <div class="col-md-6">
            <div id="target"></div>
            @Html.Action("Contact", "Contact")

            <!--<div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
            </div>-->
        </div>
        <div class="col-md-6" id="contact">
            <div id="details">
                <div id="info">
                    <div class="content">
                        <div class="table">
                            <div class="middle">
                                <h1 class="centered">Seohyun Eu</h1>
                                <h2 class="centered padding-r2"></h2>
                                <hr class="hr padding-r2">
                                <p class="centered padding-r2">
                                    address
                                    <br>
                                    country
                                </p>
                                <p class="centered">
                                    <a href="mailto:" title="">email address</a>
                                </p>
                            </div>
                        </div>

                        <a id="facebook" class="hidden-xs" href="" title="Facebook" target="_blank">
                            <img src="" alt="Facebook" width="60" height="60">
                        </a>
                        <a id="twitter" class="hidden-xs" href="" title="Twitter" target="_blank">
                            <img src="" alt="Twitter" width="60" height="60">
                        </a>
                        <a id="instagram" class="hidden-xs" href="" title="Instagram" target="_blank">
                            <img src="" alt="Instagram" width="60" height="60">
                        </a>
                    </div>
                </div>

                <div id="duval-union" class="hidden-xs">
                    <div class="content">
                        <div class="table">
                            <div class="middle">
                                <a class="block centered" href="" title="" target="_blank">
                                    <img class="centered" src="" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Google Map
============================================= -->
<div id="map"></div>

@section scripts{
    <!-- GOOGLE MAP -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            $.getScript('https://www.google.com/jsapi', function () {
                google.load('maps', '3', {
                    other_params: 'sensor=false&key=AIzaSyByv-r2ijdC9D1ft_1rBtdeQMX-Xlv8bLE', callback: function () {
                        // Callback code here
                        initialize()
                    }
                });
            });
        });

        /***************** Google Map ******************/

        function initialize() {
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
                center: new google.maps.LatLng(40.6700, -73.9400),
                zoom: 8,
                mapTypeControl: true,
                scrollwheel: false,
                scaleControl: false,
                draggable: false,
                styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "administrative", "elementType": "labels", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative.country", "elementType": "all", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "administrative.country", "elementType": "geometry", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "administrative.country", "elementType": "labels.text", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "administrative.province", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative.locality", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "saturation": "-100" }, { "lightness": "30" }] }, { "featureType": "administrative.neighborhood", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative.land_parcel", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "visibility": "simplified" }, { "gamma": "0.00" }, { "lightness": "74" }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "landscape.man_made", "elementType": "all", "stylers": [{ "lightness": "3" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road", "elementType": "geometry", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);

            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Snazzy!'
            });


        }

        //  google.maps.event.addDomListener(window, 'load', initialize);
      
      
    </script>
}