﻿@using KalikoCMS.Mvc.Extensions
@model SeohyunMVC.Models.ViewModels.IPageViewModel<SeohyunMVC.PageTypes.SitePage>


@if (Model.CurrentPage.ParentPath.Count == 0)
{
    // If no parents, don't render this
    return;
}

@*@Html.BreadcrumbsFor(Model.CurrentPage, new { @class = "breadcrumb" })*@
<div class="container breadcontainer">
    <div class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
            @foreach (var page in Model.CurrentPage.ParentPath.Reverse())
            {
                <a href="@page.PageUrl" class="btn btn-default">@page.PageName</a>
            }
            <a href="@Model.CurrentPage.PageUrl" class="btn btn-default">@Model.CurrentPage.PageName</a>
        </div>
    </div>
</div>
@*
        or
    <ol class="breadcrumb">
        @foreach (var page in Model.CurrentPage.ParentPath.Reverse())
        {
            <li><a href="@page.PageUrl">@page.PageName</a></li>
        }
    </ol>
*@

