﻿@model SeohyunMVC.Models.ViewModels.ArticlePageViewModel
@using KalikoCMS
@using KalikoCMS.Core
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tags = TagManager.GetTags("article");
}

<!-- Check if top image is defined -->
@if (!string.IsNullOrEmpty(Model.CurrentPage.TopImage.ImageUrl))
{
    <!-- Set your background image for this header on the line below. -->
    @*<header class="intro-header" style="background-image: url(@string.Format("/ImageCache/HeaderCropped/{0}.jpg", Model.CurrentPage.PageId)">*@
    <header class="intro-header" style="background-image: url(@Model.CurrentPage.TopImage.ImageUrl)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>@Model.CurrentPage.PageName</h1>
                        <hr class="small">
                        <span class="subheading">@Model.CurrentPage.Heading</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @*@Model.CurrentPage.TopImage.ToHtml()*@
}
@Html.Partial("~/Views/Partials/BreadCrumbsView.cshtml", Model)

@section scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // execute above function
            initPhotoSwipeFromDOM('.my-gallery');
        });
    </script>

}

<div class="col-lg-12 wow fadeInUp" data-wow-delay=".3s" data-name="@Model.CurrentPage.PageId">
    <div class="container">
        @Model.CurrentPage.Property["MyPropertyName"]
        <h2>@Model.CurrentPage.Heading</h2>
        <p class="preamble">@Model.CurrentPage.Preamble.Value</p>
        @Model.CurrentPage.MainBody
        <p>Created: @Model.CurrentPage.CreatedDate</p>

        <div class="container">
            <div class="col-lg-12">
                <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="https://farm3.staticflickr.com/2567/5697107145_a4c2eaa0cd_o.jpg" itemprop="contentUrl" data-size="1024x1024">
                            <img src="https://farm3.staticflickr.com/2567/5697107145_3c27ff3cd1_m.jpg" itemprop="thumbnail" alt="Image description" />
                        </a>
                        <figcaption itemprop="caption description">Image caption  1</figcaption>
                    </figure>
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                        <a href="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg" itemprop="contentUrl" data-size="1024x1024">
                            <img src="https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_m.jpg" itemprop="thumbnail" alt="Image description" />
                        </a>
                        <figcaption itemprop="caption description">Image caption 2</figcaption>
                    </figure>
                </div>
                @*Html.Partial("galleryShared", Model)*@
            </div>
        </div>
         

        @foreach(var tag in tags.Tags.Values.Where(x=>x.Pages.Contains(Model.CurrentPage.PageId)))
        {
            <text>@tag.TagName</text>
        }
        @if (Model.RelatedNews != null)
        {
            <div class="col-lg-12">
                <h2>Related news</h2>
                <ul class="list-unstyled related">
                    @foreach (var searchHit in Model.RelatedNews.Hits)
                {
                        <li><a href="@searchHit.Path">@searchHit.Title</a></li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
