﻿@model SeohyunMVC.Models.Contact

@{
    Layout = null;
}


    <div>
        <h4>Contact</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Datesumbitted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Datesumbitted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IP)
            </dd>
    
        </dl>
    </div>
