﻿@model IEnumerable<SeohyunMVC.Models.Contact>

@{
    Layout = null;
}

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datesumbitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>Preview/Change</th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datesumbitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit" onclick="location.href ='Contact/EditContact.aspx?id=@item.Id'" style="display:inline-block">
                    <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </p>
                <p data-placement="top" data-toggle="tooltip" title="Info" onclick="location.href ='Contact/DetailsContact.aspx?id=@item.Id'" style="display:inline-block">
                    <button class="btn btn-info btn-xs" data-title="Info" data-toggle="modal" data-target="#Info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </p>
               
            </td>
            <td>
                <p data-placement="top" data-toggle="tooltip" title="Edit" onclick="location.href ='Contact/DeleteContact.aspx?id=@item.Id'" style="display:inline-block">
                    <button class="btn btn-danger  btn-xs" data-title="delete" data-toggle="modal" data-target="#delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </p>
            </td>
        </tr>
    }

</table>
